/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
}


/* UTILITIES (classi di riutilizzo) */

/* Layout */

.Container{
    width: 1200px;
    margin: 0 auto;
}


.Clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.Float-left{
    float: left;
}


/* Menù */

.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child{
    margin-right: 0;
}


/* Buttons */

.buttons{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;

}

.buttons.buttons-green{
    background-color: #7cbb01;
    border: 1px solid transparent;
}








/* MAIN HEADER */

.main-header{
    font-size: 12px;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #0d325a;
}


.main-header a{
    color: #fff;
    text-decoration: none;
}


.main-header .Logo{
    width: 15%;

}

.main-header .Logo img{
    vertical-align: middle;
}


.main-header .nav-center{
    width: 45%;
}



.main-header .nav-right{
    width: 40%;
    text-align: right;
}


.main-header a.buttons{
    line-height: 1;
    /* Uso 100% così fa riferimento alla dimensione del font di 12px */
    /* Inoltre vado ad eliminare la line-height precedentemente impostata di 80px, cosi posso aggiungere padding */
}


