/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}



/* UTILITIES (classi di riutilizzo) */

/* Layout */

.Container{
    width: 1200px;
    margin: 0 auto;
}


.Clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.Float-left{
    float: left;
}

.w-50{
    width: 50%;
}


/* Menù */

.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child{
    margin-right: 0;
}


/* Buttons */

.buttons{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;

}

.buttons.buttons-green{
    background-color: #7cbb01;
    border: 1px solid transparent;
}

.buttons.big-buttons{
    padding: 20px;
}








/* MAIN HEADER */

.main-header{
    font-size: 12px;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #0d325a;
}


.main-header a{
    color: #fff;
    text-decoration: none;
}


.main-header .Logo{
    width: 15%;

}

.main-header .Logo img{
    vertical-align: middle;
}


.main-header .nav-center{
    width: 45%;
}



.main-header .nav-right{
    width: 40%;
    text-align: right;
}


.main-header a.buttons{
    line-height: 1;
    /* Uso 100% così fa riferimento alla dimensione del font di 12px */
    /* Inoltre vado ad eliminare la line-height precedentemente impostata di 80px, cosi posso aggiungere padding */
}

.main-header a:not(.buttons):hover{
    text-decoration: underline;
}

.main-header .buttons:not(.buttons-green):hover{
    border: 1px solid #fff;
}


/* MAIN CONTENT */

/* HERO */

/* Hero Top */

.Jumbotron{
    height: 480px;
    background-color: #0d325a;
    background-image: url(./img/background-header.png);
    background-size: 1000px;
    /* Ridimensioni img per poterla utilizzare nel migliore dei modi */
    background-repeat: no-repeat;
    background-position:105% 100%;
    /* Utilizzo spostamento in percentuali maggiori cosi posso spostarla al di fuori*/

}

.Jumbotron .Container{
    position: relative;
    height: 100%;

}

.Jumbotron .Jumbotron-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.Jumbotron .Jumbotron-text h1{
    color: #fff;
    font-size: 48px;
    margin-bottom: 15px;
}

.Jumbotron .Jumbotron-text h1:hover{
    text-decoration: underline;
    text-shadow: 1px 1px #b51118;
    cursor: pointer;
}


/* Hero Bottom */

.Jumbotron-bottom{
    text-align: center;
    padding: 20px;
    background-color: #ccc;
}

.Jumbotron-bottom h2{
    margin-bottom: 15px;
}

.Jumbotron-bottom p{
    color: #0000005c;
}







